<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RESTfulAPITesting.RESTfulAPITesting.RESTfulApiPostRequest"/>
      <class name="RESTfulAPITesting.RESTfulAPITesting.RESTfulApiGSON"/>
      <class name="RESTfulAPITesting.RESTfulAPITesting.RESTfulApiJasonPath"/>
      <class name="RESTfulAPITesting.RESTfulAPITesting.RESTfulApiGetRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
